@font-face {
  font-family: "Sagak-sagak"; 
  src: url("../font/Sagak-sagak.ttf");
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #FCF9F0;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  width: 1024px;
  margin: 0 auto;
  padding: 0 24px 32px 24px;
  flex: 1;
}

header {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.sub-title{
  display: flex;
  justify-content: space-between; 
  margin-top: 50px;
}

.sub-title h3 {
  font-family: 'Sagak-sagak';
  font-size: 1.5rem;
}

.weatherbox{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;

}

.date{
  font-family: 'Sagak-sagak';
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.weather {
  width: 50px;
  animation: rotate 4s linear infinite;
}

.input-section {
  bottom: 60px;
  display: flex;
  background-color: #FCF9F0;
}

.input-section textarea {
  width: 100%;
  height: 100px;
  padding: 16px;
  border-width: 2px 2px 4px 2px;
  border-style: solid;
  border-color: #000;
  border-radius: 10px;
  font-family: 'Sagak-sagak';
  font-size: 1.3em;
  outline: none;
}

.input-section textarea::placeholder{
  font-family: 'Sagak-sagak';
  font-size:1.3rem;
}

.input-section button {
  width: 100px;
  margin-left: 10px;
  padding: 10px;
  background-color: #FCF9F0;
  border-width: 2px 2px 4px 2px;
  border-style: solid;
  border-color: #000;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
}

.input-section .add-button:hover{
  background-color: #ffce00;
}

.input-section button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.input-section .add-button {
  display: flex;
  align-items: end;
  justify-content: end;
}

.input-section .add-button img{
  width: 45px;
}

.input-section .next-button {
  background-color: #ffce00;
}

.input-section .next-button img{
  width: 40px;
}

.next-button {
  bottom: 10px;
  padding: 10px 20px;
  background-color: #ffce00;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.next-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.diary-boxes {
  display: flex;
  height: 42vh;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 32px 0px;
}

.diary-box {
  position: relative;
  width: 30%;
  height: 100%;
  border: 2px solid #000;
  background-color: #FFFDF8;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  font-family: 'Sagak-sagak';
  transition: transform 0.3s ease;
  background: url('../ui/diary-box.png') no-repeat top center / cover;
}

.loadingDiv{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;

}

.load-div{
  height:60vh;
}

.carousel-text{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Sagak-sagak';
  background: url('../ui/result-bg.png') no-repeat center center / cover;
  text-align: center;
  color: #333;
  padding: 10px;
  justify-content: center;
  font-size: 1.2em;
  align-items: center;
}

.diary-box:hover {
  transform: translateY(-5px);
}

.diary-box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 0;
}

.diary-box button {
  position: absolute;
  top: 10px;
  right: 10px;
  background:none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  display: none;
}

.diary-box button .deleteIcon {
  width: 20px;
}

.diary-box:hover button {
  display: block;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-nav {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 10px;
  top: 20px;
}

.carousel-nav button {
  background-color: #ffce00;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-bottom: #000;
}

.carousel-nav button.active {
  background-color: #FF6738;
}

.carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height:60vh;
  gap: 4%;
}

.carousel-image {
  width: 400px;
  height: 400px;
  overflow: hidden;
  flex-shrink: 0;
  background: url('../ui/circle.png') no-repeat center center / cover;
  position: relative;
}

.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.result-textarea{
  display: block;
  height: 300px;
  width: 400px;
}

.carousel-text {
  width: 100%;
  height: 100%;
  background-color: #FFFDF8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  font-family: 'Sagak-sagak';
  border: 1px solid #000;
  background: url('../ui/result-bg.png') no-repeat top center / cover;
}

.carousel-text h2 {
  margin-bottom: 10px;
}

.carousel-text p {
  margin: 5px 0;
}

.carousel-arrow {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-arrow.left {
  left: -50px;
}

.carousel-arrow.right {
  right: -50px;
}

.training-section {
  margin-top: 20px;
  font-family: 'Sagak-sagak';
  font-size: 1.2rem;
}

.training-section h2 {
  margin-bottom: 20px;
}

.audioVisual{
  position: absolute;
  top: 50%;
  left: 15%;
  z-index: -100;
}

.audioVisual-2{
  position: absolute;
  top: 20%;
  z-index: -100;
}

.music-playing{
  display: flex;
  flex-direction: column;
}

audio {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1100;
}

.feeling{
  font-weight: 700;
  background-color: #ffce00;
}




